@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "colors";
@import "media";
@import "banner";
@import "board";
@import "option";
@import "reward";

html {
  font-size: clamp(18px, 2.225vw, 2.225vw);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 50%;
  padding: 1em 24px;
  border-radius: 0.6em;

  font-size: 0.625rem;

  color: white;
  background-color: $orange;

  cursor: pointer;
  user-select: none;
  transition: .3s ease;
  
  @media ($s) {
    max-width: unset;
  }

  &:hover {
    background-color: #FFAC70;
  }

  &:active {
    background-color: $orange-dark;
  }
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
}

